* {
    margin: 0px;
    padding: 0px;
}

/* header navbar style */

.text-blue {
    color: hwb(225 18% 43%);

}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    background-color: gray;
    align-items: center;
    padding: 10px;

}

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 17px;
}

.menu a {
    text-decoration: none;
    color: black;

}

/* banner section style */
.banner-container {
    height: 100vh;
    background-image: url("../asset/image/background.jpg"), linear-gradient(rgba(0, 0, 0,0.2),rgba(0, 0, 0,0.3));
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;
 

}

.banner-info{
    margin: auto;
   
   
}
.title{
    font-size: 60px;
    font-weight: bold;
    color: white;
}
.primary{
    color: red;
}
.description{
    color: white;
    padding: 10px;  
}
.btn{
    border: none;
    padding: 12px 20px;
    border-radius: 3px;
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
    box-shadow: 0px 2px 20px rgb(183, 204, 169) ;
    margin: 5px;
}
.bg-primary{
    background-color: red;
    color: white;

}